[submodule "Universal_Robots_Client_Library"]
	path = Universal_Robots_Client_Library
	url = https://github.com/UniversalRobots/Universal_Robots_Client_Library.git
[submodule "Universal_Robots_ROS2_Description"]
	path = Universal_Robots_ROS2_Description
	url = https://gitioc.upc.edu/constantin.sul/universal_robots_ros2_description_tutorial.git
	branch = jazzy
[submodule "Universal_Robots_ROS2_Driver"]
	path = Universal_Robots_ROS2_Driver
	url = https://gitioc.upc.edu/constantin.sul/universal_robots_ros2_driver_tutorial.git
	branch = jazzy
[submodule "Universal_Robots_ROS2_GZ_Simulation"]
	path = Universal_Robots_ROS2_GZ_Simulation
	url = https://gitioc.upc.edu/constantin.sul/universal_robots_ros2_gz_simulation_tutorial.git
	branch = jazzy
[submodule "joint_state_publisher"]
	path = joint_state_publisher
	url = https://github.com/ros/joint_state_publisher.git
